* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
    color: cadetblue;
    font-size: 30px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

ul {
    list-style-type: none;
    margin: 0;
    font-size: 20px;
    padding: 5px 15%;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    color: cadetblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: cadetblue;
}

#galeria {
    width: 100%;
    height: auto;
    background-color: black;
}

.header {
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding: 10% 20px;
    text-align: center;
}

.header h1 {
    font-size: 100px;
    color: black;
}

.one-column{
    margin: 5%;
}
.one-column h1 {
    font-size: 70px;
    text-align: center;
    padding: 0%;
    color: cadetblue;
}

.one-column img {
    width: 100%;
}

.two-column {
    float: left;
    width: 50%;
    padding: 5%;
}

.two-column img {
    width: 100%;
}

@media screen and (max-width:700px) {
    .two-column {
        width: 100%;
        font-size: 30px;
    }
    .four-column {
        width: 50%;
    }
    ul {
        padding: 0px;
    }
    .header {
        background-image: url("../img/header.jpg");
        background-size: auto;
    }

    #header {
        width: 50%;
    }
    #Informacion {
        width: 100%;
    }
    #Galeria {
        width: 100%;
    }
    #Servicios {
        width: 100%;
    }
}